@CHARSET "UTF-8";
* { margin: 0; padding: 0; }
body { background: #fff; width: 960px; margin: 0 auto; border: 2px solid #ccc; }
#header { width: auto; height: 150px; margin: 10px 0; border: 2px solid #ccc; }
h1 { font-size: 12px; width: 210px; height: 39px; margin: 40px 0 0 50px;
	background: url(../imgs/logo1.jpg); }
h1 a { width: 210px; height: 39px; display: block; text-indent: -9999px; }
li { list-style: none; }
a { text-decoration: none; }
a:link, a:visited { color: black; }
a:hover, a:active { color: gray; }
#header ul { text-align: right; margin-right: 60px; margin-top: 30px; }
#style{ position: relative;}
#skin { border: 1px dashed #333; width: 100px; height: auto; background: #fff; text-align: center; position: absolute; top: 20px; left: -30px; display: none; z-index: 98;}
#skin dd{ padding: 2px;}
#header li { display: inline; margin: 0 5px; }
#footer { width: auto; border: 2px solid #ccc; clear: both; text-align: center; padding-top: 10px; }
#footer p { font-size: 12px; letter-spacing: 5px; color: #06f; }
/*数字分页*/
#pageNum { height: 20px; clear: both; padding: 10px 0; line-height: 20px; position: relative; font-size: 14px; margin: 0 auto 50px; }
#pageNum ul { position: absolute; right: 50px; height: 20px; }
#pageNum li { float: left; }
#pageNum ul li a { display: inline-block; border: 1px solid #fef1ec; padding: 0px 6px; background: grey; color: #ccc; text-align: center; }
#pageNum a:hover, #pageNum a:active { color: #06f; border: 1px solid chocolate; background: #fef1ec; }
#pageNum .curPage { background: #888; }
/*文本分页*/
#pageText { height: 20px; clear: both; padding: 10px 0; line-height: 20px; font-size: 14px; margin: 0 auto 30px; }
#pageText ul { text-align: center; }
#pageText ul li { display: inline-block; color: #ccc; }
#pageText a:hover, #pageText a:active { color: #06f; }
#pageText span { padding: 0 8px 0 8px; }
.clearfix:after {
	content:    ".";
	display:    block;
	height:     0;
	visibility: hidden;
	clear:      both;
}
/*信息管理中心*/
#member { width: auto; height: auto; border: 2px solid #ccc; font-size: 12px; overflow: visible; }
#adminNav { width: 30%; float: left; margin: 15px; border: 1px dashed #555; text-align: center; height: 400px; }
h2 { font-size: 14px; background: #eee; height: 25px; line-height: 22px; text-align: center; }
h3 { font-size: 12px; background: #555; height: 20px; line-height: 15px; text-align: center; color: #fff; padding: 5px 0; }
.account { margin: 20px 15px; background: #eee; padding: 0 0 5px 0; }
.other { margin: 20px 15px; background: #eee; padding: 0 0 5px 0; }
li { margin: 10px 0; }
#adminMes { width: 63%; float: right; margin: 15px; border: 1px dashed #555; padding: 0 0 15px; }
/*common.inc 短信提醒*/
.noMes { background: url("../imgs/noread.gif") no-repeat left center; padding: 0 0 0 15px; margin-left: 5px; }
.noreadMes { background: url("../imgs/meg.gif") no-repeat left center; padding: 0 0 0 15px; margin-left: 5px; }
/*index post.php列表*/
.newI { background: url("../imgs/list/new.gif") no-repeat left center; }
.loveI { background: url("../imgs/list/love.gif") no-repeat left center; }
.whiteI { background: url("../imgs/list/white.gif") no-repeat left center; }
.sunI { background: url("../imgs/list/sun.gif") no-repeat left center; }
.warnI { background: url("../imgs/list/warn.gif") no-repeat left center; }
.hotI { background: url("../imgs/list/hot.gif") no-repeat left center; }
.greenI { background: url("../imgs/list/green.gif") no-repeat left center; }
.flowerI { background: url("../imgs/list/flower.gif") no-repeat left center; }