@charset "UTF-8";
@import "sassCore/base";
@mixin placeholderColor($color:#909) {
	/*WebKit browsers*/
	&::-webkit-input-placeholder{
		color:$color;
	}
	/* Mozilla Firefox 4 to 18 */
	&:-moz-placeholder{
		color:$color;
		opacity:1;
	}
	/* Mozilla Firefox 19+ */
	&::-moz-placeholder{
		color:$color;
		opacity:1;
	}
	/* Internet Explorer 10+ */
	&:-ms-input-placeholder{
		color:$color;
	}
}
body{
	background:url("../img/wrapperBg.png") repeat-x;
	#wrapper{
		width:1100px;
		margin:0 auto;

		header{
			position:relative;
			height:105px;
			#logo{
				float:left;
			}
			#search{
				float:left;
				margin:22px 0 0 22px;
				input{
					@include border-radius(5px);
					font-size:14px;
					line-height:22px;
					padding-left:5px;
					width:150px;
					@include placeholderColor();
					&:hover{
						width:180px;
						@include transition(width, 0.15s, ease-in-out, 0s);
					}
				}
			}
			#skin{
				float:right;
				margin-top:22px;
				li{
					display:block;
					height:15px;
					width:15px;
					float:left;
					margin:0 4px;
					text-indent:-9999px;
					background:url("../img/header/theme.gif") no-repeat;
					cursor:pointer;
					&#skin_0{
						background-position:0 0;
						&.selected{
							background-position:0 -15px;
						}
					}
					&#skin_1{
						background-position:-20px 0;
						&.selected{
							background-position:-20px -15px;
						}
					}
					&#skin_2{
						background-position:-40px 0;
						&.selected{
							background-position:-40px -15px;
						}
					}
					&#skin_3{
						background-position:-60px 0;
						&.selected{
							background-position:-60px -15px;
						}
					}
					&#skin_4{
						background-position:-80px 0;
						&.selected{
							background-position:-80px -15px;
						}
					}
					&#skin_5{
						background-position:-100px 0;
						&.selected{
							background-position:-100px -15px;
						}
					}
				}

			}
			ul.nav{
				height:37px;
				line-height:37px;
				position:absolute;
				left:0;
				top:68px;
				width:100%;
				z-index:100;
				background-color:#4A4A4A;
				li{
					float:left;
					margin:0 30px;
					position:relative;
					a{
						font-size:16px;
						color:white;
						&:hover{
							text-decoration:underline;
						}
					}
					.subitem{
						position:absolute;
						left:0;
						top:37px;
						width:474px;
						z-index:1000;
						background-color:#FFF;
						border:1px solid #b1b1b1;
						border-top:none;
						display:none;
						dl{
							@include clearfix();
							margin:0 10px;
							padding:5px;
							&.fore{
								border-bottom:1px dashed #B1B1B1;
							}
							a{
								font-size:14px;
								color:#666666;
							}
							dt{
								float:left;
								a{
									font-size:14px;
									font-weight:bold;
									color:black;
									&:hover{
										text-decoration:none;
									}
								}
							}
							dd{
								float:right;
								width:380px;
								em{
									padding:0 5px;
									font-style:normal;
									a{
										display:inline-block;
										width:57px;
									}

								}
							}
						}
					}
				}
			}
		}
		footer{
			background:url("../img/wrapperBg.png") repeat-x;
			@include clearfix();
			p{
				text-align:center;
				font-size:16px;
				line-height:32px;
				font-weight:bold;
				color:#4A4A4A;
			}
		}
		div#content{
			margin:12px 0;
			@include clearfix();
			#navLeft{
				width:223px;
				float:left;
				border:1px solid #4A4A4A;
				margin-right:14px;
				h2{
					font-size:16px;
					line-height:28px;
					background-color:#4A4A4A;
					color:white;
					padding-left:14px;
				}
				div{
					margin:6px 12px;
					h3{
						font-size:14px;
						line-height:24px;
						font-weight:bold;
						border-bottom:1px solid #eeeeee;
						color:black;
					}
					ul{
						padding:2px 6px;
					    overflow: hidden;
						li{
							float:left;
							width:90px;
							height:26px;
							overflow:hidden;

							a{
								color:#444444;
								font-size:13px;
								line-height:26px;
								position:relative;
								&:hover{
									color:#008cd7;
								}
								&.promoted{
									color:#f9044e;
									.hot{
										background:transparent url("../img/content/hot.gif") no-repeat scroll 0 0;
										height:16px;
										position:absolute;
										top:-6px;
										right:-22px;
										width:21px;
									}
								}
							}

						}
					}
				}
			}

			div.contentRight{
				float:left;

				#adRoll{
					width:550px;
					height:321px;
					float:left;
					margin-right:20px;
					position:relative;
					overflow:hidden;
					img{
						position:absolute;
						left:0;
						top:0;
					}
					div{
						position:absolute;
						bottom:0;
						height:42px;
						overflow:hidden;
						a{
							display:inline-block;
							width:79px;
							height:32px;
							padding:5px 15px;
							font-size:12px;
							line-height:18px;
							background-color:#444;
							color:#FFF;
							text-align:center;
							margin-right:1px;
							float:left;
							&.chos{
								background:url("../img/content/ads/arrowTop.gif") no-repeat center 39px #37A7D7;
								color:#FFFFFF;
							}
							em{
								cursor:pointer;
								display:block;
								height:16px;
								overflow:hidden;
								width:79px;
							}
						}
					}

				}
				aside{
					float:left;
					.info{
						border:1px solid #DFDFDF;
						margin-top:10px;
						height:133px;
						overflow:hidden;
						h2{
							border-bottom:1px solid #DFDFDF;
							font-weight:bold;
							font-size:12px;
							line-height:23px;
							height:23px;
							text-indent:12px;
						}
						ul{
							padding:6px 2px 0 12px;
							li{
								height:20px;
								a{
									color:#666;
									font-size:12px;
									line-height:20px;
								}
							}
						}
					}
				}
				div.tabs{
					margin-top:14px;
					float:left;
					clear:both;
					position:relative;
					#tabNav{
						border-bottom:1px solid #6E6E6E;
						@include clearfix();
						h2{
							float:left;
							font-size:14px;
							line-height:28px;
							font-weight:bold;
						}
						ul{
							float:right;
							position:absolute;
							top:6px;
							right:0;
							li{
								float:left;
								margin-right:10px;
								padding-bottom:3px;
								a{
									background-color:#EEE;
									color:black;
									font-size:14px;
									line-height:14px;
									padding:3px 10px;
									position:relative;
								}
								&.chos{
									background:url("../img/content/tabs/arrowDown.gif") no-repeat scroll 50% bottom transparent;
									a{
										background-color:#FA5889;
										color:#FFFFFF;
										outline:0 none;
									}
								}
							}
						}

					}
					#tabContent{
						float:left;
						height:188px;
						overflow:hidden;
						margin:8px 5px 0 8px;
						width:790px;
						position:relative;
						@include clearfix();
						#tabList{
							position:absolute;
							left:0;
							top:0;
							width:3200px;
							li{
								float:left;
								height:185px;
								overflow:hidden;
								padding:0 7px;
								position:relative;
								width:183px;
								img{
									left:5px;
									position:absolute;
									top:0;
								}
								span{
									background-color:#efefef;
									display:inline-block;
									width:183px;
									height:24px;
									margin-left:5px;
									position:absolute;
									bottom:0;
									left:0;
									overflow:hidden;
									text-align:center;
									z-index:1024;
									a{
										font-size:14px;
										color:#666666;
										line-height:24px;
										&:hover{
											color:#008CD7;
											text-decoration:none;
										}
									}

								}
							}
							.imageMask{
								background-color:#ffffff;
								@include opacity(0);
								cursor:pointer;
							}
							.imageOver{
								background:#efefef url(../img/content/tabs/zoom.gif) no-repeat 50% 50%;
								@include opacity(60);
							}
						}
					}
				}
			}
		}
	}
	#tooltip{
		position:absolute;
		border:1px solid #333;
		background-color:#f7f5d1;
		padding:1px;
		color:#333;
		display:none;
		font-size:12px;
		line-height:18px;
		padding:0 3px;
	}
}