/*------------------------------------*\
    帖子界面
\*------------------------------------*/
 /**
 * Created by PhpStorm
 * User: LIN
 * Date: 2015/5/19
 * Time: 11:53
 * Project: 2015.4.29 GuestVer
 * File: ${FILE_NAME}
 **/
#article { width : auto; min-height: 300px; border: 2px solid #ccc; font-size: 12px; overflow: visible; padding: 0 auto; }
h2 { font-size: 14px; background: #eee; height: 25px; line-height: 25px; text-align: center; padding: 10px 0; margin-bottom: 15px; }
.nice{ position: absolute; top: 240px; left: 600px;}
.hot{ position: absolute; top: 210px; left: 700px;}
/*帖子作者*/
#main{}
.blogF { width: 200px; font-size: 12px; line-height: 14px; margin: 10px; float: left;}
.blogF dt { text-align: center; color: darkred; }
.blogF dd img { margin: 10px auto; display: block; }
.blogF ul { color: #222; margin: 5px auto; text-align: center;}
.blogF ul img { margin-right: 3px; width: 14px; height: 14px; }
.blogF li { margin: 5px auto; padding: 0 1px; display: inline-block}
/*帖子内容*/
#contentPost{ float: right; width: 70%;}
#user{ border-bottom: 1px dashed #999; line-height: 30px; padding: 5px 0 0 0; color: #666; background: url("../images/member.gif") no-repeat left center; padding: 0 0 0 25px;}
#user strong{ margin: 0 10px;}
#user span{ float: right; margin: 0 22px 0 0; color: #06f; font-weight: bold; line-height: 28px;}
#user span a{ color: #06f; font-weight: bold; line-height: 25px;}
#user span a:hover,#user span a:active{ color: #666;}
.postTtl{ padding: 10px 0; margin: 20px 0;}
.postTtl h3{ display: inline-block; margin: 0 10px;}
.postTtl img{ position: relative; top: 2px;}
.postTtl section{ font-size: 14px; line-height: 180%; display: block; word-wrap:break-word;word-break:break-all; text-indent: 2em; margin: 10px 0;}
.postTtl span{ font-size: 12px; font-weight: bold; line-height: 18px;}
hr{ clear: both; border: 1px solid #333; width: 95%; margin: 20px auto 20px;}
.postTtl p{ padding: 0 0 5px 0; color: #800000; text-align: right; margin: 10px;}
.postTtl a{ color: #06f; font-weight: bold; line-height: 25px;}
.postTtl a:hover,.postTtl a:active{ color: #666;}
.postTtl .signature{ color: #333; border-top: 1px solid #666;border-bottom: 1px solid #666; margin: 50px 0; width: 60%; background: #999;}

/*回帖界面*/
#reply{ position: relative; float: right; width: 70%;}
#title { margin: 10px; color: #363636; font-weight: bold; font-size: 12px; line-height: 18px; }
#face{margin: 15px 0; }
#face a { margin: 0 10px; }
/*ubb*/
#ubb { width: 410px; height: 26px; background: url("../images/bgMenubar.gif"); margin: 10px 0 0 0; }
#font { width: 220px; height: 40px; background: #eee; padding: 8px; line-height: 12px; font-size: 12px; position: absolute; top: 126px; left: 1px; display: none;
}
#font strong { font-weight: normal; background: #fff; cursor: pointer; display: inline-block; border: 1px solid #999; margin: 2px 5px; }
#color { z-index: 2; width: 152px; height: 130px; font-size: 12px; background: #eee; padding: 4px 0 0 4px; position: absolute; top: 126px; left: 115px; display: none; }
#color strong { display: block; border: 1px solid #999; width: 12px; height: 12px; float: left; margin: 4px 0 0 4px; }
#color em { display: block; height: 28px; width: 80%; clear: both; }
#color input { margin: 10px 0 0 4px; width: 136px; height: 20px; cursor: pointer; background: #fff; }
#content { text-indent: 2em; color: #363636; font-size: 12px; line-height: 18px; }
/*验证码*/
#chkSec{ margin: 15px 0;}
#chk { width: 100px; margin-left: 16px; font-size: 12px; line-height: 18px; }
#imgcode { position: relative; top: 7px; left: 20px; cursor: pointer; }
/*表情包*/
#faces h3 { width : 100%; margin : 10px auto; height : 30px;
	line-height  : 30px; text-align : center; border : 1px solid #333; }
#faces dl { width : 100%; margin : 30px auto; }
#faces dd { text-align : center; display: inline-table;}
#faces dd img { cursor : pointer; margin: 5px 1px;}
#faces dd img:hover{ border: 1px dotted #333;}
#submit{ margin: 0 0 15px;}
#submit:hover { background: gray; }